<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manish's Finances</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='budget.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="navbar">
        <a href="{{ url_for('index') }}">
            <h1>
                manish's finances
            </h1>
        </a>

        <div id="nav-buttons-div">
            <a href="{{ url_for('assets') }}">
                <button id="assets" class="nav-button">
                    assets
                </button>
            </a>
            <a href="{{ url_for('equity') }}">
                <button id="equity" class="nav-button">
                    equity
                </button>
            </a>
            <a href="{{ url_for('crypto') }}">
                <button id="crypto" class="nav-button">
                    crypto
                </button>
            </a>
            <a href="{{ url_for('taxes') }}">
                <button id="taxes" class="nav-button">
                    taxes
                </button>
            </a>
            <a href="{{ url_for('budget') }}">
                <button id="budget" class="nav-button">
                    budget
                </button>
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='budget.js') }}"></script>
</body>
</html>