body {
    background-color: #26292C;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: start;
    align-items: center;
}

h1 {
    color: #FA900F;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4vh;
    padding-left: 3vh;
    padding-right: 6vh;
}

#nav-buttons-div {
    display: flex;
    justify-content: space-around;
    font-size: 1.5vh;
}

.nav-button {
    color: #FA900F;
    background-color: #26292C;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #42474C;
}